body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    width: 200px;
}

.search button {
    background-color: #fff;
    border: none;
    padding: 8px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.hero {
    padding: 80px 0;
    background-color: #f9f9f9;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    flex: 1;
    margin-right: 40px;
}

.hero-text h2 {
    font-size: 36px; /* Reduzi o tamanho da fonte */
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-image {
    flex: 1;
    max-width: 50%; /* Limitei o tamanho máximo da imagem */
}

.hero-image img {
    width: 100%;
    height: auto;
}

.products-section {
    padding: 40px 0;
}

.filter {
    margin-bottom: 20px;
}

.filter-options {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-option {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}

.filter-option.active {
    background-color: #007bff;
    color: #fff;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.product {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 16px;
    color: #007bff;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
